.title {
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: -0.25px;
    color: #3A4374;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
}