.placeholder {
    display: flex;
    flex-direction: column;
    max-width: 420px;
    align-items: center;
    text-align: center;
    margin: 60px auto;
}

.img {
    text-align: center;
}

.title {
    font-weight: bold;
    font-size: 24px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.333333px;
    color: #3A4374;
    margin-top: 60px;
    margin-bottom: 16px;
}

.description {
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #647196;
}

.btn {
    margin-top: 60px;
}