*, *:before, *:after {
  box-sizing: border-box;
}

:root {
  --header-height: 72px;
}

body {
  margin: 0;
  font-family: 'Jost', sans-serif;
  font-size: 16px;
  line-height: 23px;

  color: #3A4374;
  background: #F7F8FD;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

@media screen and (max-width: 1024px) {
  .hide-on-small {
    display: none;
  }
}
